<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVNV2N0RMW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BVNV2N0RMW');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Education page</title>
  <link href="static/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
    <h1> Weather </h1>
  <div style="text-align: center;">



    <br>
    <br>
    <a href="index"><button>🏠 Home</button></a>
    <a href="weather"><button>🌡️ Weather</button></a>
    <a href="bmi"><button>🏋️ BMI</button></a>

</head>
<body>
  <br>
  <br>

    <h1>Laolu lives in {{city}}</h1>
  <br><br>
    <h2>Current weather: {{temp_c}}°C</h2>
    <h2>Weather Description: {{temp_description}}</h2>

</body>
</html>
